body{
	background-color: white;
}
div {
	margin-left: 22%;
	margin-right: 20%;
}

div.text {
	margin-top: 6%;
	margin-bottom: 15%;
}

a {
	color: grey;
}

h1{
	text-align: center;
}

dt {
	margin-left: 2%;
	display: list-item;
	list-style-type: disc;
}

code {
	background-color: #FFFFDD;
	border: outset;
	border-color: black;
	border-width: 1px;
}

.list {
	list-style: none; 
	margin-left: 0%;

}

.list li{
		margin-bottom: 20px;
}
.listheader {
	margin-left: -5%;
}

.e-mail{
	color: blue;
	display: table-row;
}

