html {
	background-color: #4285F4;
}

body {
	margin-left: 22%;
	margin-right: 20%;
	margin-top: 6%;
	margin-bottom: 15%;
	background-color: white;
	margin-bottom: 15%;
	border: 2px solid black;
}

h1 {
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #4285F4;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	font-weight: 600;
}

div {
	padding: 5%;
}

dt {
	margin-left: 2%;
	display: list-item;
	list-style-type: disc;
}

code {
	background-color: #FF8A4C;
	border: outset;
	border-color: black;
	border-width: 1px;
	padding-left: 1%;
	padding-right: 1%;
	font-weight: 600;
}

.list {
	list-style: none;
	margin-left: 0%;
}

.list li {
	margin-bottom: 20px;
}

.listheader {
	margin-left: -5%;
}

.e-mail {
	color: #4285F4;
	display: table-row;
}

table, tr, th, td{
	border-style: solid;
	border-color:black;
	border-collapse: collapse; 
	
}